@import "../../mixins.scss";

$button-default-color:rgb(255, 176, 176);
$button-google-color:rgb(157, 157, 255);
$layout-primary-color:#e4ecff;
$open-sans-font:'Open Sans', sans-serif;

.home-container{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    font-family: $open-sans-font;
    scroll-behavior: smooth;
    overflow-y: scroll;

    @include lg{
        padding: 10px 20px;
    }
    
    .page-heading-drive{
        font-weight: 500;
    }

    .category-heading{
        font-size: 17px;
        font-weight: 400;
        margin-top: 20px;
    }
}